.container {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #333;
}

.mat-elevation-z8 {
  width: 600px;
  margin: auto;
}

.customer-table {
  margin-left: 20px!important;
  margin-right: 20px!important;
}
